{% extends 'base.html.twig' %}

{% block title %} A propos de nous ! {% endblock %}

{% block body %}
<div class="card text-center">
  <div class="card-body">
    <h3 class="card-title"> Qui sommes-nous ? </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Victor ORY </h5>
        <p class="card-text">Un informaticien de génie ! </p>
        <a href="#" class="btn btn-primary">Contacter </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alice MILFORD </h5>
        <p class="card-text">Une mathématicienne de génie </p>
        <a href="#" class="btn btn-primary">Contacter</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Patrick PINTUS </h5>
        <p class="card-text">Un chercheur de génie </p>
        <a href="#" class="btn btn-primary">Contacter </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Stéphane LUCHINI </h5>
        <p class="card-text"> Un Kitsurfeur de génie </p>
        <a href="#" class="btn btn-primary">Contacter</a>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Myriam LUCHINI</h5>
          <p class="card-text"> Une philosophe de génie  </p>
          <a href="#" class="btn btn-primary">Contacter</a>
        </div>
      </div>
    </div>
</div>

<div class="card text-center">
  <div class="card-header">
    A quoi vont servir les résultats ? 
  </div>
  <div class="card-body">
    <h5 class="card-title">Les recherches au sein de l'AMSE </h5>
    <p class="card-text"> Nous étudions un sujet très vaste mais ces données vont nous servir à comprendre comment un humain gère une situation de pandémie pour pouvoir peut-être améliorer le processus </p>
    <a href="#" class="btn btn-primary">Site de l'AMSE ou du sujet avec plus de précisions</a>
  </div>
</div>

{% endblock %}
