{% extends 'base.html.twig' %}

{% block title %} A propos de nous ! {% endblock %}

{% block body %}
<h1>
Qui sommes-nous ? 
</h1>
<p1>
Nous sommes une équipe qui travaille avec l'AMSE et la Timone 
</p1>
<h1>
A quoi vont servir les résultats ? 
</h1>
<p1>
On essaie d'analyser le comportement humain face à la gestion d'une épidémie inconnue pour pouvoir perfectionner le comportement d'une IA qui permettrait d'assister les preneurs de décisions 
</p1>
{% endblock %}
