{% extends 'base.html.twig' %}

{% block title %}Hello ExpController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>
Bienvenue sur le jeu : CovidSimulator 2021
</h1>
<p>
Votre rôle pendant ce jeu va être de décider de comment gérer une crise sanitaire, les caractéristiques (mortalité, infectuosité, traitement, ...) de la maladie sont inconnues. 
Vous êtes aux commandes du centre de gestion des tests pour une région avec 2 départements.
Vous allez pouvoir décider de comment allouez les tests entre deux tranches d'âges et entre les deux régions
L'objectif est bien évidemment de limiter au plus les dégâts fait par la maladie ( qu'est-ce que ça veut dire ? )
</p>

<a href="/exp/exp_form/0">
<button > Prêt ! </button>
</a>

{% endblock %}
