{% extends 'base.html.twig' %}

{% block title %} Expérience en cours ...{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<p> Répartition entre les deux départements </p>
<div class="slidecontainer">
  <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
</div>
<p> Répartition dans le premier département entre les deux tranches d'âges </p>
<div class="slidecontainer">
  <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
</div>
<p> Répartition dans le second département entre les deux tranches d'âges </p>
<div class="slidecontainer">
  <input type="range" min="0" max="100" value="50" class="slider" id="myRange">
</div>

{% endblock %}