{% extends 'base.html.twig' %}

{% block title %}Acceuil Expérisite{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" media="(min-width: 800px)" href="{{ asset('css/style_index.scss') }}">
<link rel="stylesheet" media="(max-width: 800px) and handheld" href="{{ asset('css/style_index_tel.scss') }}">
{% endblock %}

{% block body %}

<div id='tout' >
  <div id='text-content'>
    <h1 style='padding-bottom: 25px;'> Venez participer à des expériences trop cools ! </h1>
    <a id='bouton-commencer' href="/exp/exp_form/0" class="btn btn-primary">Commencer </a>
  </div>

  <div class="incruste">
    <iframe src='https://my.spline.design/3dvirus-e9ad881d5a65ff75c28c1c7fd7f35ea2/' frameborder='0' width='100%' height='100%'></iframe>
  </div>
</div>
{% endblock %}
