<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title> Expérience en cours ... </title>
    <link rel="stylesheet" href="{{ asset('css/styles_exp.scss') }}">
</head>

<div id='mega-grid'>
    <section name="Explication" id='presentation'>
        <div id='presentation-content'>
            <h> Une mystérieuse épidémie a fait iruption ...  A vous de faire le nécessaire pour minimiser le nombre d'infecté</h>
            <p> Aujourd'hui est le  {{etat_avant.T}} ième jour </p>
        </div>
    </section>

    <section id="control-panel">
        <div id='bar1'>
        </div>
        <div id='bar2'>
        </div>
        <div id='bar3'>
        </div>
        <div id='region1'>
        </div>
        <div id='region2'>
        </div>
        <div id='region3'>
        </div>
        <div id='region4'>
        </div>
    </section>
    <section id="display">
        <div id='display1'>
            <h> Données région 11 </h>
        </div>
        <div id='display2'>
            <h> Données région 12 </h>
        </div>
        <div id='display3'>
            <h> Données région 21 </h>
        </div>
        <div id='display4'>
            <h> Données région 22 </h>
        </div>
    </section>

<script>
function transi1 () {
    disparaitre = document.getElementById('vue1');
    apparaitre = document.getElementById('vue2');
    disparaitre.style.display = 'none'; 
    apparaitre.style.display = 'flex';
}
</script>

</div>




